In [6]:
import geopandas as gpd
import pandas as pd


shpFile=gpd.read_file('../Data/Merged3.shp')


point_names = shpFile.plot_ID

point_names


index = list(range(len(point_names)))
index


name_df = pd.DataFrame(list(zip(list(index), list(point_names))),
                       columns =['index','Name'])
name_df

    index                                               Name
0       0                                               F1P1
1       1                                               F1P2
2       2                                               F1P3
3       3                                               F1P4
4       4                                               F1P5
5       5                                               F1P6
6       6                                               F1P7
7       7                                               F1P8
8       8                                               F2P1
9       9                                               F2P2
10     10                                     Big Dead tee 2
11     11                                    Big dead tree 1
12     12                                               F2P3
13     13                                               F2P4
14     14                                               F2P5
15     15                                               F2P6
16     16                                          Many pine
17     17                                               F2P7
18     18                                               F2P8
19     19                                 Dead trees spruces
20     20                                  Dead trees spruce
21     21                                               F2P9
22     22                                   100% pine/spruce
23     23                                        Apple trees
24     24                                              F2P10
25     25  Beeches and oak trees in a line beaches under oak

In [7]:
# Load a csv file containing the coordinates in Latitude and longitude format and not in meters as the shpFile (which is already projected)
# This is because leaflet maps have lat/lon as defauklt projection and not meters

lat_lon_coord = pd.read_csv('../Data/Lat_Lon_coordinates.csv')

index_as_series = pd.Series (index)

index_as_series

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64

In [8]:
lat_lon = lat_lon_coord.iloc[:, 1:3]
#print(lat_lon)

# concancatenate the lat lon with the index series
lat_lon_with_index = pd.concat([index_as_series,lat_lon], axis=1)
lat_lon_with_index.columns = ['index','Lat', 'Lon']
lat_lon_with_index

    index       Lat        Lon
0       0  9.594913  49.837180
1       1  9.590903  49.835934
2       2  9.592406  49.834530
3       3  9.588622  49.828985
4       4  9.585568  49.829090
5       5  9.588138  49.823175
6       6  9.597218  49.817117
7       7  9.583039  49.824209
8       8  9.594470  49.808122
9       9  9.590528  49.809371
10     10  9.587603  49.810013
11     11  9.587425  49.809717
12     12  9.586333  49.810726
13     13  9.582033  49.812969
14     14  9.580665  49.813850
15     15  9.577488  49.816991
16     16  9.576397  49.818478
17     17  9.573879  49.821565
18     18  9.573846  49.824042
19     19  9.573735  49.826454
20     20  9.575614  49.829606
21     21  9.575557  49.829896
22     22  9.575342  49.830229
23     23  9.571825  49.832100
24     24  9.574794  49.831387
25     25  9.585755  49.837900

In [9]:
new_coord_df = pd.merge(name_df, lat_lon_with_index, on="index")
new_coord_df

,index,Name,Lat,Lon
0,0,F1P1,9.594913,49.837180
1,1,F1P2,9.590903,49.835934
2,2,F1P3,9.592406,49.834530
3,3,F1P4,9.588622,49.828985
4,4,F1P5,9.585568,49.829090
5,5,F1P6,9.588138,49.823175
6,6,F1P7,9.597218,49.817117
7,7,F1P8,9.583039,49.824209
8,8,F2P1,9.594470,49.808122
9,9,F2P2,9.590528,49.809371
10,10,Big Dead tee 2,9.587603,49.810013
11,11,Big dead tree 1,9.587425,49.809717
12,12,F2P3,9.586333,49.810726
13,13,F2P4,9.582033,49.812969
14,14,F2P5,9.580665,49.813850
15,15,F2P6,9.577488,49.816991
16,16,Many pine,9.576397,49.818478
17,17,F2P7,9.573879,49.821565
18,18,F2P8,9.573846,49.824042
19,19,Dead trees spruces,9.573735,49.826454
20,20,Dead trees spruce,9.575614,49.829606
21,21,F2P9,9.575557,49.829896
22,22,100% pine/spruce,9.575342,49.830229
23,23,Apple trees,9.571825,49.832100
24,24,F2P10,9.574794,49.831387
25,25,Beeches and oak trees in a line beaches under oak,9.585755,49.837900

In [10]:
from ipyleaflet import Map, Marker,basemaps
center = (new_coord_df.iloc[1,3],new_coord_df.iloc[1,2])
sampling_points = Map(center=center, zoom=13)

for (index, row) in new_coord_df.iterrows():
    marker = Marker(location=[row.loc['Lon'], row.loc['Lat']], 
                       title=row.loc['Name'])
    sampling_points.add_layer(marker)
    
sampling_points

Map(center=[49.8359342934198, 9.59090263783977], controls=(ZoomControl(options=['position', 'zoom_in_text', 'zâ€¦